*.meta
*.csproj
*.sln

moblile/Library
moblile/Logs
moblile/Packages
moblile/ProjectSettings
moblile/Temp
moblile/UserSettings

moblile/Assets/3rdParties
moblile/Assets/Plugins
moblile/Assets/Resources
moblile/Assets/Fonts

moblile/.vscode
